.app-btn {
	margin-right: 2em;
}

.app-cblabel {
	width: 2em;
}
.app-logo {
	margin-left: auto;
}
.app-center-block {
	width: 100%;
}
#container00 {
	margin-top: 2em;
}
#inputarea00 {
	margin-top: 2em;
	padding-bottom: 1em;
}
.app-header {
	background: url('/static/headr_bg.png');
}
.header_text {
	font-weight: bold;
}
.header_link {
	font-weight: bold;
}
#pleaseWait {
	text-align: center;
	vertical-align: center;
}
.app-query-success {
	background: url('/static/success_bg.png');
}
.app-query-no-user {
	background: url('/static/no_user_bg.png');
}
.app-query-working {
	background: url('/static/headr_bg.png');
}
.app-query-empty-input {
	background: url('/static/empty_bg.png');
}
.app-query-idle {
	background: none;
}
.app-footer {
	vertical-align: center;
}
.app-footer-textdiv {
	margin-top: 4em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #ffffff;
}
#settings_row {
	margin-top: 2em;
	/* This functionality is not ready and it's necessity is dubious */
	display: none;
}
