.app-btn {
	margin-right: 2em;
}

.app-cblabel {
	width: 2em;
}
.app-logo {
	margin-left: auto;
}
.app-center-block {
	width: 100%;
}
#container00 {
	margin-top: 2em;
}
.app-header {
	background: url('/static/headr_bg.png');
}
.header_text {
	font-weight: bold;
}
.header_link {
	font-weight: bold;
}
#pleaseWait {
	vertical-align: center;
}
